html {
  font-size: 1em;
}

a {
  color: #1772d0;
  text-decoration: none;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

em {
  font-style: italic;
}

body,
td,
th,
tr,
p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1rem;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display: inline;
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  display: inline;
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  padding: 0px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

#portrait {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
}

.project-thumbnail-parent {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.project-thumbnail-parent .project-thumbnail {
  width: auto;
  height: auto;
  max-width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
}

.project-thumbnail-parent .project-thumbnail.pre-hover {
  z-index: 2;
}

.project-thumbnail-parent .project-thumbnail.post-hover {
  z-index: 1;
}

.project-description {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
}

body {
  min-height: 100vh;
}

.modal-dialog {
  max-width: 850px;
}

.publication .authors a {
  color: #000000;
}

.publication .authors a:focus,
.publication .authors a:hover {
  color: #f09228;
  text-decoration: none;
}

body div.container-fluid {
  max-width: 1000px;
}

.font-small {
  font-size: 0.875rem;
}

.code {
  background-color: #f8f8f8;
}

.publication-selected {
  background-color: #ffffd0;
}

.pub-toggle {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

.pub-toggle-link {
  color: #1772d0;
}

.pub-toggle-link.active-toggle {
  color: #000000;
  font-weight: bold;
  pointer-events: none;
}
